<!-- User sets detail of when, where to send out -->
<!-- Add on:
ask for users name, email.
input fields for price limit
textfield for user to add any other additional info.
-->

<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="styles.css">
    <title>Super Secret Santa(in progress)</title>
  </head>
  <body>
    <h1>Make Matches Page</h1>
    <!-- need to retrieve the amount of number of singles and couples -->
    <form method="post" action="/makeMatches">
      <input type="text" class="personsName">
    </form>
  </body>
</html>
